/*************** SECTIONS ****************/
#mainsection {
    padding-top: 100px; 
    background: url('../img/photographer1.jpeg'); 
    background-repeat: no-repeat;
    min-height: 750px; 
    background-position: center; 
}
.intro-message {
    text-align: left; 
    color: #001427; 
    font-size: 3em;
}
#overviewsection {
    color: white;
    background-image:linear-gradient(60deg, #708d81, #001427);
}

#upcomingsection {
    /*background-image:linear-gradient(60deg, #f4d58d, #63032d);*/
    background: #001427;
    color: white;
}


.services-block {
    width: 100%;
    background: #001427;
    border-radius : 10px; 
    margin-top : 30px; 
    margin-bottom : 30px; 
    margin-right: 60px; 
    padding: 20px;
}

.icon-services {
    padding-top : 30px;
}

.upcoming-block {
    width: 100%;
    background: #708d81;
    border-radius : 10px; 
    margin-top : 30px; 
    margin-bottom : 30px; 
    margin-right: 60px; 
    padding: 20px;
}

.contact-info{ 
    color : white; 
    font-size: 1.1em;
    padding-top : 10px; 
}

/*************** LINKS AND ICONS ****************/
#contact-mail{ 
    color : black;
}
#contact-mail :hover{ 
    color : #f4d58d;
}

.btn-social {
    color:black; 
}
.btn-social :hover {
    color : #f4d58d; 
}