.flex-column > div {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.flex-column > div > * {
    margin-left: auto;
    margin-right: auto;
}

div > h3 {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 2vw;
}