/*********** BACKGROUND - STYLES ************************/
.style-1 {
    background-color: #63032D;
    color: white;
}

.style-2 {
    background-color: #001427;
    color: white;
}

.style-3 {
    background-color: #708D81;
    color: white;
}

.style-4 {
    background-color: #F4D58D;
}

.style-5 {
    background-color: #eafcf7;
}

.style-6 {
    background-image:linear-gradient(60deg, #f4d58d, #63032d);
    color: white;
}

/************ SIZES AND ASPECTS ************/
.xs-img {
    height: 50px;
    width: 60px;
}

.xl-img {
    width: 30%;
}

.xxl-img {
    width: 70%;
    margin: 10%;
}

.main {
    margin-top: 76px;
}

.rounded-img {
    border-radius: 20px;
}

.content-center {
    padding: 20px 0;
    text-align: center;
  }

/*************** BALISES ****************/
section {
    min-height: 1.000em; 
    padding-top: 5em;
}

footer {
    margin-top : 0.025em; 
    font-size: 1.3em; 
    background: transparent; 
    border-color:transparent; 
}

iframe {
    height: 300px;
    width: 75%;
}

/************* ANIMATIONS CLASS ************/
.zoomable:hover {
    animation: zoom 2s forwards;
}

.sqeeze:hover {
    animation: squeeze 3s;
}

/***************** ANIMATIONS *******************/
@keyframes zoom {
    from { 
        width: 30%;
    }
    to { 
        width: 35%;
    }
}

@keyframes squeeze {
    0% { transform: rotate(45deg); }
    20% { transform: rotate(-45deg); }
    40% { transform: rotate(35deg); }
    50% { transform: rotate(-35deg); }
    60% { transform: rotate(25deg); }
    65% { transform: rotate(-25deg); }
    70% { transform: rotate(15deg); }
    75% { transform: rotate(-15deg); }
    80% { transform: rotate(10deg); }
    83% { transform: rotate(-10deg);}
    86% { transform: rotate(5deg); }
    90% { transform: rotate(-5deg);}
    94% { transform: rotate(5deg);}
    100% { transform: rotate(-5deg);}
}


