.main {
    display: flex;
    justify-content: stretch;
}

/********* TWO SIDES DEFINITION **********/
.main > * {
    width: 30%;
}

.left-side {
    padding-right: 5%;
    margin-left: 20%;
}

.right-side {
    padding-left: 5%;
    border-left-style: dotted;
}

/*********** TIMELINE ****************/

.main > div > div {
    padding: 5px;
    margin-bottom: 1em;
}


.left-side > div > .dot, .right-side > div > .dot {
    margin: -5px 0px auto 0px;
}

.left-side > div > .dot {
    float: left;
    margin-left: 118%;
}

.right-side > div > .dot {
    float: right;
    margin-right: 118%;
}

/********* SEPARATOR *************/

.separator {
    height: 3em;
}

/************** POINT ************/
.dot {
    height: 27px;
    width: 27px;
    border-radius: 50%;
}
